{% extends "layout.html" %}

{% block title %} <title>Rajarshi Dutta</title> {% endblock %}

  
{% load static %}
  
{% block body %}

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>A qualified software engineer with around two years of experience in the IT industry as well as the Telecom industry with good skills in developing, and designing web applications that match user needs – all using various programming languages and frameworks. Also have knowledge in Data Engineering and statistics. I have done some certificate courses in Data Science. Please visit the <a href="/rajarshi/project">Certificates</a> page to find those certificates.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'img/new.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Software &amp; Data Engineer.</h3>
        <p class="font-italic">
          I am very much comfortable with Python programming language. There are a few Python libraries, that I am comfortable working with. A few of those are mentioned below.
          <li>request, JSON, BeautifulSoup for Data Scraping</li>
          <li>pandas for Data Wragling</li>
          <li>db_module, ibm_db as DataBase API</li>
          <li>pandas, numpy for Data Analysis</li>
          <li>matplotlib, seaborn for Data Visualization</li>
          <li>sklearn for model training and evaluation</li>
          <li>django and flask as Web Framework</li>
          I am also able to work with MySQL and IBMDB2 as a Database. Watson Studio or JupiterNotebbok can be used by me as Data Science tools. I am also knowledgeable about Git. I can use HTML5, CSS3, jQuery, JavaScript as front-end web technology.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 27 January 1999</li>
              
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 7980023818</li>
              <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Kolkata, WB</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              
              <li><i class="icofont-rounded-right"></i> <strong>Qualification:</strong> Bachelor of Technology</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> drajarshi01@gmail.com</li>
              <li><i class="icofont-rounded-right"></i> <strong>Work Experience:</strong> 2 years</li>
            </ul>
          </div>
        </div>
        
      </div> 
      <div class="container" style="padding-top: 20px;">
      <p>
        Hello, I am Rajarshi Dutta from Kolkata, West Bengal, India. I belong to a middle-class family with four members. My father is self-employed, my mother is a housewife, my sister is a college student and currently, I am working in a Telecom company named Vodafone Idea Limited as a Network Engineer. I completed Bachelor of Technology in Computer Science & Engineering in 2021. I have good knowledge in <b>Core Python</b>. I am a quick learner and passionate about coding and smart working programmer. I am free to work for any better opportunity in this field. Bengali is my native language, but I can also communicate in Hindi and English. I am also flexible in any location and any time shift. Sports is my hobby, especially football. Barcelona is my favorite club and Messi is my favorite footballer. I am also interested in History and Geopolitics.
      </p></div>
    </div>

  </div>
</section><!-- End About Section -->

</main>

{% endblock %}
