{% extends "layout.html" %}

{% block title %} <title>Rajarshi Dutta</title> {% endblock %}

{% block nav %}

<nav class="nav-menu">
  <ul>
    <li class="active"><a href=" "><i class="bx bx-home"></i> <span>Home</span></a></li>
    <li><a href="about"><i class="bx bx-user"></i> <span>About</span></a></li>
    <li><a href="skills"><i class="bx bx-file-blank"></i> <span>Skills</span></a></li>
    <li><a href="education"><i class="bx bx-book-content"></i> Resume</a></li>
    <li><a href="project"><i class="bx bx-server"></i> Projects</a></li>
    <li><a href="contact"><i class="bx bx-envelope"></i> Contact</a></li>

  </ul>
</nav><!-- .nav-menu -->

{% endblock %}


{% block body %}

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Rajarshi Dutta</h1>
      <p>I'm <span class="typed" data-typed-items="Software Engineer, Data Engineer, Software Developer, Network Engineer"></span></p>
    </div>
  </section><!-- End Hero -->

{% endblock %}
