{% extends "layout.html" %}

{% block title %} 

<title>Rajarshi Dutta</title> 

<style>
  .portfolio-wrap{
    width: 245px;
  }
</style>

{% endblock %}

  
{% load static %}
  
{% block body %}

<main id="main">

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Certificates</h2>
      <p>I've included some Course Certificates below. By clicking those Badges, you can visit the certificate page directly. Most of the mentioned certificates are based on Data Science course, which I have done from Coursera. The <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/8WQJVRPNV6BF">IBM Data Science Professional Certificate</a> can also be seen from <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/8WQJVRPNV6BF">here</a>. Please feel free to comment in contact section if any query is there. Thank you for visiting here.</p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Languages</li>
          <li data-filter=".filter-card">Data Science</li>
          <li data-filter=".filter-web">Projects</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/data-science-orientation.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/data-science-orientation.png' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/8WQJVRPNV6BF" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/machine-learning-with-python.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/machine-learning-with-python.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/B9Q4C7YUY76C" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/python-for-data-science-and-ai.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/python-for-data-science-and-ai.png' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/V8XCNLSESFXV" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/databases-and-sql-for-data-science.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/databases-and-sql-for-data-science.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/NEPSHHG6ECDG" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/data-analysis-with-python.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/data-analysis-with-python.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/4FPE7VKKVSKE" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/data-visualization-with-python.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/data-visualization-with-python.png' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/983H4VLGQK37" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/applied-data-science-capstone.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/applied-data-science-capstone.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/JNNGVZUVAC7F" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/python-project-for-data-science.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/python-project-for-data-science.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/4CJBMBRD3F89" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/tools-for-data-science.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/tools-for-data-science.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="https://www.coursera.org/account/accomplishments/certificate/KUHB7HLZMDBP" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/c.png' %}" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{% static 'img/portfolio/c.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="https://drive.google.com/file/d/1riFNPUWkQAfnPw7_6JUbFEE8rGvoXxeo/view" target="_blank" title="View Certificate"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->

</main>

{% endblock %}
